<div class="container row no-gutters">
  <div class="col-2">
    <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="changeWeek(-1)">
      <
    </button>
  </div>
  <div class="col">
    {{ _.minBy(events, 'date').getDate('DD. MMMM') }} - {{ _.maxBy(events, 'date').getDate('DD. MMMM') }}
  </div>
  <div class="col-2">
    <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="changeWeek(1)">
      >
    </button>
  </div>
</div>

<div class="container row no-gutters">

  <div class="col-4">
    <table class="table table-striped">
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr *ngFor="let user of users">
        <td>{{ user.credits - user.participations }} {{ user.name }}</td>
      </tr>
    </table>
  </div>
  
  <div class="col-8 table-responsive">

    <table class="table table-striped">
      <tr>
        <td *ngFor="let event of events">
          {{ event.getDate('dd') }}
        </td>
      </tr>
      <tr *ngFor="let user of users">
        <td *ngFor="let event of events" (click)="changeState(event, user._id)"  [ngSwitch]="event.getRole(user._id)">
          <img *ngSwitchCase="'cook'" src="/assets/icons/chef.png" style="height: 1.2em;" />
          <span *ngSwitchCase="'participant'">✔</span>
          <span *ngSwitchDefault>&nbsp;</span>
        </td>
      </tr>
    </table>

    <input type="text" [(ngModel)]="newUser.name" (change)="createUser()" />

  </div>
</div>