.table > tbody > tr:first-child > td {
  background: #fff;
  border-bottom: 1px solid #ccc;
  height: 5em;
  vertical-align: middle;
}

.table-striped tbody tr:nth-of-type(odd) {
  background: rgba(0, 0, 0, 0.01)
}